/* colors */
:root {
	--color1: rgba(135, 188, 222, 1);
	--color2: #17555c;
	--color3: rgba(78, 77, 92, 1);
	--color4: rgba(45, 70, 84, 1);
	--color5: rgba(36, 59, 74, 1);
}

body {
	background-color: var(--color5);
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Fira Code";
}

#SearchWrapper {
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background: var(--color2);
	border-bottom: 0.5em solid var(--color4);
}
#SearchWrapper > form {
	max-width: 30%;
	max-height: 5em;
	height: 3.5em;
	background-color: var(--color4);
	border: 2px dashed var(--color3);
	padding: 4px 2em 4px 1em;
	color: var(--color1);
	/* Form input group */
}
.form input[type="text"] {
	background: #00000000;
	height: 100%;
	font-size: 16pt;
	width: 100%;
	border: 0;
	border-bottom: 4px solid var(--color5);
	display: block;
	transition: all 0.5s;
}
.form input[type="text"] {
	width: 20%;
}
.form input[type="text"]:focus,
.form input[type="text"].expanded {
	width: 100%;
}

#boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.siteBox {
	margin: 10px;
	display: grid;
	grid-template-areas:
		"Header"
		"Sitelist";
	grid-template-rows: auto 1fr;
	width: 300px;
	background: var(--color4);
	color: var(--color1);
	border: 2px dashed var(--color3);
}
.siteBox .title {
	text-align: center;
	border-bottom: 2px solid var(--color3);
	background: var(--color4);
	line-height: 1.5em;
	font-weight: bold;
}
.siteBox ul {
	list-style: none;
}
.siteBox ul li {
	padding: 3px;
	cursor: pointer;
}
